.navbar{
    width: 100%;


}
.navbar ul li{
    
    list-style: none;


}
#main{
    padding-left: 220px;
   padding-top: -200px;
}
#home h2 span {
    font-size: xx-small;
    font-weight: 100;

}

  
#home{
    height: 440px;

}
#home::after{
    height: 460px;

}
.headings{
    font-size: 1.7rem;

}
#pic img{
    width: 300px;
    height: 175px;

}
#intro h2{
    font-size: 1.5rem;
}

.gallery img{
    padding: 20px;
}
#send{
    width: 20%;
}

#about img{
    height: 100%;
}
#about {
    height: 40%;
}


